@model CompanyMVC.viewModels.ProjectsViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header">
                        <strong>Edit</strong> Project
                    </div>
                    <div class="card-body card-block">


                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Project @Model.Project.name</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Project.id)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Project.name, htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.EditorFor(model => model.Project.name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Project.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Project.company, htmlAttributes: new { @class = "control-label " })
                                    <div class="controls">
                                        @Html.EditorFor(model => model.Project.company, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Project.company, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Project.requirements, htmlAttributes: new { @class = "control-label " })
                                    <div class="controls">
                                        @Html.EditorFor(model => model.Project.requirements, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Project.requirements, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Project.budget, htmlAttributes: new { @class = "control-label " })
                                    <div class="controls">
                                        @Html.EditorFor(model => model.Project.budget, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Project.budget, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Project.department_id, htmlAttributes: new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.DropDownListFor(model => model.Project.department_id, new SelectList(Model.Departments, "id", "name"), "Select Department", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Project.department_id, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Project.start_date, htmlAttributes: new { @class = "control-label " })
                                    <div class="controls">
                                        @Html.EditorFor(model => model.Project.start_date, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Project.start_date, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Project.end_date, htmlAttributes: new { @class = "control-label " })
                                    <div class="controls">
                                        @Html.EditorFor(model => model.Project.end_date, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Project.end_date, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 controls">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
