@model CompanyMVC.Entities.employee

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">

                    <div class="card-body card-block">
                        <h4>Employee @Model.name @Model.surname</h4>
                        <br />
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.name):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.name)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.surname):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.surname)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.personal_nr):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.personal_nr)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.identity_card_nr):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.identity_card_nr)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.position):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.position.name)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.department):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.department.name)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.work_type):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.work_type.name)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.schedule):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.schedule.start_time):@Html.DisplayFor(model => model.schedule.end_time)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.salary):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.salary)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.email):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.email)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.start_date):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.start_date)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.end_date):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.end_date)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-waarning" }) |
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div>

