@model CompanyMVC.Entities.employee_vacation

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">

                    <div class="card-body card-block">
                        <h4>Employee @Model.employee.FullName</h4>
                        <br />
                        
                        
                        
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.employee.name):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static"> @Html.DisplayFor(model => model.employee.name) @Html.DisplayFor(model => model.employee.surname)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.vacation.vacation_type):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.vacation.vacation_type)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.vac_days):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.vac_days)</p>
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.start_date):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.start_date)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">@Html.DisplayNameFor(model => model.end_date):</label></div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.end_date)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div>


